
image: Visual Studio 2017

install:
  - ps: |
      $env:DOTNET_INSTALL_DIR = "$pwd\.dotnet"
      mkdir $env:DOTNET_INSTALL_DIR -Force | Out-Null
      Invoke-WebRequest -Uri "https://raw.githubusercontent.com/dotnet/cli/release/2.1/scripts/obtain/dotnet-install.ps1" -OutFile "$($env:DOTNET_INSTALL_DIR)/dotnet-install.ps1"
      '& "$($env:DOTNET_INSTALL_DIR)/dotnet-install.ps1" -Version $env:CLI_VERSION -InstallDir $env:DOTNET_INSTALL_DIR'
      $env:Path = "$env:DOTNET_INSTALL_DIR;$env:Path"

before_build:
  - ps: |
      nuget install platyPS -Version 0.9.0 -source https://www.powershellgallery.com/api/v2 -outputDirectory . -ExcludeVersion
      nuget install InvokeBuild -Version 4.1.0 -source https://www.powershellgallery.com/api/v2 -outputDirectory . -ExcludeVersion
      Import-Module .\platyPS
      Import-Module .\InvokeBuild

build_script:
  - ps: |
      Invoke-Build -Task ZipRelease -Configuration Release
      platyPS\Get-HelpPreview .\bin\Release\PSReadLine\en-US\Microsoft.PowerShell.PSReadLine2.dll-help.xml > .\bin\Release\PSReadLine.txt

artifacts:
  - path: .\bin\Release\PSReadLine.zip
  - path: .\bin\Release\PSReadLine.txt
