
image: Visual Studio 2022

environment:
  POWERSHELL_TELEMETRY_OPTOUT: 1
  DOTNET_NOLOGO: 1
  PSREADLINE_TESTRUN: 1

cache:
  - '%HOMEDRIVE%%HOMEPATH%\.nuget\packages -> tools\helper.psm1'

install:
  - pwsh: |
      dotnet nuget remove source PowerShell_PublicPackages
      dotnet nuget add source https://api.nuget.org/v3/index.json --name nuget.org
      Write-Host "PS Version: $($PSVersionTable.PSVersion)"
      ./build.ps1 -Bootstrap

build_script:
  - pwsh: |
      ./build.ps1 -Configuration Release

test_script:
  - pwsh: ./build.ps1 -Test -Configuration Release

artifacts:
  - path: .\bin\Release\PSReadLine.zip
